body {
	background-color: lightgray;
}
div {
	color: white;
	padding: 20px;
	margin: 40px;
	width: 30%;
	display: inline-block;
}
h2, li {
	font-family: sans-serif;
}

#day {
	background-color: orange;
	border-style:dotted ;
	border-color: darkred;
	border-width: 5px;
}

#night {
	background-color: purple;
	border-style: dashed;
	border-color: yellow;
	border-width: 5px;
}
#img1 {
	text-align: center;
}
#img2 {
	text-align: center;
}